#goals-index-tasks-section-container {
  width: 55vw;

  margin-left: 2vw;
  margin-top: 4vh;
}

#goals-index-tasks-section-text-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;

  text-align: left;
  font-family: "IBM Plex Serif";
  font-size: 1.25em;
  font-weight: 600;
  color: var(--charcoal);
}

#goals-index-tasks-section-friend-text {
  margin-left: 2vw;
}

#goals-index-tasks-section-completed-text {
  margin-right: 2vw;
}