#goal-index-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/* #goal-index-outstanding-tasks-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
} */