#navbar-container {
  height: 8vh;
  width: 100vw;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: baseline;

  margin-top: -1.6vh;

  background-color: var(--card-color);
  border-bottom: 2px solid var(--card-border-color);
}

#navbar-container-logo-text {
  font-size: 2em;
  font-family: "IBM Plex Serif";
  font-weight: 500;
  color: var(--purple-color);
}

#navbar-container-account-text {
  font-size: 1em;
  color: var(--light-purple-color);
}

#navbar-container-sign-out-text {
  color: var(--light-grey);
  font-size: .8em;
  font-style: italic;
  font-weight: 400;
}